body {
  overflow-x: hidden;
  -ms-overflow-style: none;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  overflow: hidden;
}
/* menu */
.menu-container {
  width: 100vw;
  height: 100vh;
  position: sticky;
  z-index: 10;
  background: #fff;
  top: 0;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-size: 8vw;
  display: none;
}
.menu-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-15vw, -15vw);
  pointer-events: none;
  width: 30vw;
  height: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 30;
}
.menu-title {
  position: relative;
  width: 35vw;
  height: 70vh;
  z-index: 20;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-35vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-title a {
  position: sticky;
}
.menu-container[data-menu="0"] {
  background-color: #ffffff;
}

.menu-title[data-menu="0"] .category {
  color: #000000;
}
/* case1:work */
.menu-container[data-menu="1"] {
  background-color: #01bdd6;
}
.menu-title[data-menu="1"] .category {
  color: #ef4d34;
}
.menu-container[data-menu="1"] .menu-bg {
  background-image: url("../images/work.png");
}
.menu-title[data-menu="1"] .category[data-menu="1"] {
  z-index: 40;
}
/* case2:explore */
.menu-container[data-menu="2"] {
  background-color: #cf55b9;
}
.menu-title[data-menu="2"] .category {
  color: #272ebc;
}
.menu-container[data-menu="2"] .menu-bg {
  background-image: url("../images/explore.png");
}
.menu-title[data-menu="2"] .category[data-menu="2"] {
  z-index: 40;
}
/* case3:about */
.menu-container[data-menu="3"] {
  background-color: #68eb40;
}
.menu-title[data-menu="3"] .category {
  color: #9a23df;
}
.menu-container[data-menu="3"] .menu-bg {
  background-image: url("../images/about.png");
}
.menu-title[data-menu="3"] .category[data-menu="3"] {
  z-index: 40;
}
/* case4:contact */
.menu-container[data-menu="4"] {
  /* background-color: #2e9a9a; */
  background-color: #e09915;
}
.menu-title[data-menu="4"] .category {
  /* color: #fbee7b; */
  color: #01ccff;
}
.menu-container[data-menu="4"] .menu-bg {
  background-image: url("../images/contact.png");
}
.menu-title[data-menu="4"] .category[data-menu="4"] {
  z-index: 40;
}

/* nav */
.nav {
  padding: 3vw 3%;
  padding-bottom: 0vw;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 20;
}

.menu-btn {
  position: relative;
  cursor: none;
}

.menu-btn[data-condition="on"] .effect1 {
  left: -1vw;
  bottom: -1vw;
}
.menu-btn[data-condition="on"] .effect2 {
  right: -1vw;
  top: -1vw;
}

.menu-effect {
  position: absolute;
  z-index: -10;
}

@keyframes effect1 {
  0% {
    left: 0;
    bottom: 0;
  }
  50% {
    left: 0;
    bottom: -1vw;
  }
  100% {
    left: -1vw;
    bottom: -1vw;
  }
}

@keyframes effect2 {
  0% {
    right: 0;
    top: 0;
  }
  50% {
    right: 0;
    top: -1vw;
  }
  100% {
    right: -1vw;
    top: -1vw;
  }
}

.menu-btn[data-condition="off"]:hover .effect1 {
  animation: effect1 0.3s ease-out forwards;
}

.menu-btn[data-condition="off"]:hover .effect2 {
  animation: effect2 0.2s ease-in-out forwards;
}

/* main-visual */
.main-visual {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  overflow: hidden;
}

.main-visual[data-number="1"] {
  background-color: #292929;
}
.main-visual[data-number="2"] {
  background-color: #cc05a9;
}
.main-visual[data-number="3"] {
  background-color: #4738ce;
}

.circles {
  perspective: 100px;
  display: flex;
  justify-content: center;
}

.circle {
  position: absolute;
  transition: 0.5s linear;
}

.main-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-logo {
  width: 50%;
  position: absolute;
  perspective: 100px;
  transition: 0.5s linear;
}

.visual-parts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.visual-part {
  height: 100%;
  width: 33.33%;
}

@media all and (min-width: 320px) and (orientation: landscape) {
  /* mobile & landscape  */

  .logo {
    width: 10vw;
  }
  .menu-btn {
    position: relative;
    width: 8vw;
    cursor: pointer;
  }
  .menu-effect {
    position: absolute;
    width: 8vw;
    z-index: -10;
  }

  .circle {
    width: 65vw;
    top: 10vw;
  }
  .visual-parts {
    display: none;
  }
}

@media all and (min-width: 320px) and (orientation: portrait) {
  /* mobile & portrait */
  .logo {
    width: 10vh;
  }
  .menu-btn {
    position: relative;
    width: 8vh;
    cursor: pointer;
  }
  .menu-effect {
    position: absolute;
    width: 8vh;
    z-index: -10;
  }

  .circle {
    width: 70vh;
    top: 15vh;
  }

  .visual-parts {
    display: none;
  }
}

@media all and (min-width: 768px) {
  /* tablet & pc*/
  .logo {
    width: 7vw;
    min-width: 150px;
    /* max-width: 300px; */
  }
  .menu-btn {
    position: relative;
    width: 7vw;
    min-width: 130px;
    cursor: pointer;
  }

  .menu-effect {
    position: absolute;
    width: 7vw;
    min-width: 130px;
    z-index: -10;
  }
  .circle {
    width: 90vh;
    top: 5vh;
  }
  .visual-parts {
    display: flex;
  }
}

/* intro-section */
.intro {
  background-image: url("../images/intro-bg.png");
  background-size: cover;
  padding: 10vw 0;
}

.intro-message {
  color: #fff;
  margin: 0 auto;
  width: 90%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 9vw;
  line-height: 8vw;
}

.intro-message.left {
  text-align: left;
}

.intro-message.right {
  text-align: right;
}

@keyframes highlightAni {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.highlight {
  display: inline-block;
}

.highlight.highlight-ani {
  animation: highlightAni 0.5s steps(1) 3;
}

/* text-animation */
@keyframes shaking {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.text-ani-container {
  background-color: #d1f016;
  width: 100vw;
}
.text-animation {
  position: relative;
  height: 10vw;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.text-animation .words {
  padding: 5vw 5vw;
  position: absolute;
  width: 200vw;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-animation .words:nth-child(2) {
  left: 200vw;
}

.text-animation .words .word {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4vw;
  animation: shaking 1s steps(1) infinite;
}

/* main-works-secttion */
.bg-clip {
  position: absolute;
}

.bg-clip[data-number="1"] {
  width: 40vw;
  top: 13%;
  left: 10%;
}

.bg-clip[data-number="2"] {
  width: 40vw;
  top: 35%;
  left: 30%;
}

.bg-clip[data-number="3"] {
  width: 40vw;
  top: 50%;
  right: 20%;
}

.bg-clip[data-number="4"] {
  width: 45vw;
  top: 70%;
  left: -15%;
}

.main-works {
  background: #000000;
  height: 380vw;
  position: relative;
  padding-bottom: 10vw;
}
.section-title {
  padding: 10vw 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #999999;
  font-size: 1vw;
  margin-left: 5%;
}
.main-work {
  position: absolute;
  width: 45vw;
  height: 60vw;
  box-sizing: border-box;
}
.main-work[data-number="1"] {
  top: 25vw;
}
.main-work[data-number="2"] {
  top: 25vw;
  right: 4vw;
}
.main-work[data-number="3"] {
  top: 100vw;
  left: 50%;
  transform: translate(-22.5vw);
}
.main-work[data-number="4"] {
  top: 175vw;
  left: 3%;
}
.main-work[data-number="5"] {
  top: 175vw;
  right: 0;
}
.main-work[data-number="6"] {
  top: 250vw;
  left: 50%;
  transform: translate(-22.5vw);
}
.main-work[data-number="7"] {
  color: #fff;
  top: 325vw;
  left: 0;
}
.main-work[data-number="8"] {
  color: #fff;
  top: 325vw;
  right: 3%;
}
.photo-container {
  width: 100%;
  height: 80%;
  overflow: hidden;
}
@keyframes hover-ani {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes shakingTitle {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.main-work:hover .work-photo {
  animation: hover-ani 1.2s forwards;
}
.main-work:hover .work-title {
  animation: shakingTitle 0.5s alternate infinite steps(2);
}
.work-photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.work-title {
  color: #fff;
  height: 20%;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.small-title {
  box-sizing: border-box;
  height: 3.6vw;
  font-size: 1.5vw;
  line-height: 3.6vw;
}
.big-title {
  box-sizing: border-box;
  height: 70%;
  font-size: 3vw;
  overflow: hidden;
}

/* keywords-section */
.keyword-section {
  background: #9a23df;
  margin-top: -40vw;
  padding-top: 25vw;
  padding-bottom: 15vw;
  box-sizing: border-box;
  z-index: -10;
}
.keyword-section .section-title {
  color: #fff;
  margin-bottom: 10vw;
}
.keywords-line {
  left: 5%;
  width: 85vw;
  margin: 0 auto;
}

@keyframes showKeys {
  0% {
    color: rgba(255, 255, 255, 0);
    transform: translateY(10vw);
    /* top: 70vw; */
  }
  100% {
    color: rgba(255, 255, 255, 100);
    transform: translateY(0);
  }
}

.show-keys {
  animation: showKeys 2s forwards;
}

.keywords {
  font-family: "Press Start 2P", cursive;
  font-size: 2vw;
  line-height: 5vw;
}
.keyword {
  color: #fff;
}

/* contact-section */
.contact {
  height: 100vh;
  position: relative;
  background-color: #68eb40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.contact-title {
  display: block;
  font-size: 25vw;
  line-height: 22vw;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
}
.contact-title > span {
  display: block;
  width: 100%;
  text-align: center;
}
.btn-container {
  position: absolute;
  top: 8vw;
  right: 48vw;
}
.contact-btn {
  perspective: 100px;
  border-radius: 10vw;
  width: 25vw;
  height: 25vw;
  background-image: url("../images/contact-btn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.copy {
  position: absolute;
  bottom: 1vw;
  color: #fff;
  font-size: 1vw;
}
